<div class="main">

  <button mat-icon-button (click)="goBack()" style="margin: 20px;position: absolute;top: 0">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button mat-button (click)="createPost()" style="margin: 20px;position: absolute;top: 0;right: 0">
    Publish
  </button>

  <div style="flex-direction: column;display: flex;margin-top: 200px;margin-bottom: 200px">
    <input matInput [placeholder]="titlePlaceholder" [(ngModel)]="title" class="postTitle">
    <textarea matInput [(ngModel)]="body" [placeholder]="bodyPlaceholder" class="postBody"></textarea>
  </div>
</div>
