.postTitle {
  width: 40%;
  margin-left: auto;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Roboto, serif;
  margin-right: auto;
  border: none;
  background: white;
}
.postBody {
  width: 40%;
  margin-left: auto;
  margin-top: 40px;
  font-size: x-large;
  border: none;
  margin-right: auto;
  background: white;
}
