<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="drawer" opened>

    <mat-list>
      <mat-list-item>
        <h4 mat-line>View Site</h4>
        <mat-icon>launch</mat-icon>

      </mat-list-item>

      <mat-divider></mat-divider>

      <h3 mat-subheader>Manage</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>chrome_reader_mode</mat-icon>
        <h4 mat-line>Posts</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>class</mat-icon>
        <h4 mat-line>Pages</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>local_offer</mat-icon>
        <h4 mat-line>Tags</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>Staff</h4>
      </mat-list-item>
    </mat-list>

  </mat-drawer>
  <mat-drawer-content class="main">Main content</mat-drawer-content>
</mat-drawer-container>