<mat-drawer-container class="main">
  <mat-drawer mode="side" class="drawer" opened role="navigation">
    <mat-nav-list>

      <h3 style="margin-left: 64px">FireGhost</h3>

      <mat-list-item routerLink="/admin/site">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line style="font-weight: bold">View Site</div>
        <button mat-icon-button>
          <mat-icon>launch</mat-icon>
        </button>
      </mat-list-item>

      <h3 mat-subheader>Manage</h3>

      <div *ngFor="let item of adminOptions" style="flex-direction: row">
        <mat-list-item routerLink="{{item.link}}">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <h4 mat-line>{{item.name}}</h4>
          <button *ngIf="item.actionIcon" (click)="openCreatePost()" mat-icon-button>
            <mat-icon>{{item.actionIcon}}</mat-icon>
          </button>
        </mat-list-item>
      </div>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content style="width: 80%;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>