<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="drawer" opened role="navigation">
    <mat-nav-list>

      <h3 style="margin-left: 64px">FireGhost</h3>

      <mat-list-item routerLink="/site">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line style="font-weight: bold">View Site</div>
        <button mat-icon-button>
          <mat-icon>launch</mat-icon>
        </button>
      </mat-list-item>

      <h3 mat-subheader>Manage</h3>

      <div style="flex: 1" *ngFor="let item of adminOptions">
        <mat-list-item routerLink="{{item.link}}">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <h4 mat-line>{{item.name}}</h4>
          <button *ngIf="item.actionIcon" mat-icon-button>
            <mat-icon>{{item.actionIcon}}</mat-icon>
          </button>
        </mat-list-item>
      </div>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="main">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
